### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

.vs/
*.user
*.userosscache
*.sln.docstates

bin/
obj/
backend/node_modules
CarRentalAPI/.vs
frontend/.env
CarRentalAPI/CarRentalAPI/img
CarRentalAPI/CarRentalAPI/obj
