/* ========   GOOGLE FONTS ======= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ========   BASE STYLE ====== */

* {
  font-family: Poppins;
}

/*  ?========== pre-define css ========= */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 600;
}

h3,
h4 {
  font-size: 1.8rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;

}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
}

.section__subtitle {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}

.section__description {
  color: #7c8a97;
  font-size: .9rem;
  line-height: 30px;
}

section {
  padding: 50px 0px;
}

.btn {
  padding: 7px 15px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: .3s;
}

.btn:hover {
  color: #fff !important;
  background: #000000d0;

}

@media only screen and(max-width:768px) {
  section {
    padding: 30px 0px;

  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    font-size: 1.1rem;
  }

}

body {
  margin: 0;
  background-color: black;
  color: white;
}

input {
  font-family: Poppins;
  padding-left: 5px;
  font-weight: 500;
  margin-right: 1vh;
}

.dropdown {
  font-family: Poppins;
  font-weight: bold;
  padding: 10px 50px 10px 10px;
  justify-content: flex-start;
  background-color: #ffffff;
  color: #020202;
  border: none;
  border-radius: 50px;
}

button {
  font-weight: bold;
  font-size: 1em;
  padding: 10px 30px;
  color: #020202;
  border-radius: 50px;
}

.dropdown:hover {
  color: black !important;
}

.stars {
  margin-bottom: 20px;
  text-align: left;
}

.stars span {
  font-size: 24px;
  cursor: pointer;
}

.stars .filled {
  color: gold;
}

.stars .empty {
  color: grey;
}