.manage-user-container {
  background-color: #444; /* Nền tối cho khung quản lý */
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Đổ bóng nhẹ */
  margin: 0 auto; /* Căn giữa container */
}

.manage-user-container .title {
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

/* Danh sách người dùng */
.manage-user-container .user-list {
  overflow-y: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}
.manage-user-container {
  display: flex;
  flex-direction: column;
}

.user-list {
  margin-bottom: 20px;
}

.user-details {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
}

.user-details h2 {
  margin-bottom: 10px;
  color: black;
}

.user-details p {
  margin: 5px 0;
}
