.manage-user-container {
  background-color: #444; /* Nền tối cho khung quản lý */
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Đổ bóng nhẹ */
  margin: 0 auto; /* Căn giữa container */
}

.manage-user-container .title {
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

/* Danh sách người dùng */
.manage-user-container .user-list {
  overflow-y: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
