.car-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    flex-direction: column;
  }
  
  .backButton {
    position: absolute;
    left: 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .backButton:hover{
    text-decoration: underline;
  }
  
 
  
  .car-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: #fff;
    padding: 20px;
  }
  
  .formContainer {
    width: 100%;
    max-width: 800px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    outline: none;
    resize: none;
    height: 80px;
  }
  
  .imageUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .imagePlaceholder {
    width: 70%;
    height: 350px;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #000;
  }
  
  .imagePreview {
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .fileInput {
    margin-bottom: 10px;
  }
  
  .characteristics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
  }
  
  .selectGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  

  
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .featureCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: white;
  }
  
  .activeFeature {
    background-color: #28a745;
  }
  
  .checkbox {
    display: none;
  }
  
  .mapSection {
    margin-bottom: 15px;
  }
  
  .mapImage {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 400px;
  }
  
  .chooseMapButton {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  
  .uploadSection {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  
  .priceInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
  }
  
  .priceUnit {
    flex: 1;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .confirmButtonContainer {
    display: flex;
    justify-content: flex-end;
  }
  
  .confirmButton {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }


  