.Bar {
    margin-top: 5vh;
    width: 80%;
    padding: 0;
    height: 90%;
}

.garage {
    margin-top: 5vh;
    background-color: #444;
    border-radius: 10px;
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.garageCarList {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
    margin: 3vh;
    margin-top: 0;
}

.garageCarList::-webkit-scrollbar {
    width: 10px;
    /* Customize scrollbar width */
}

.garageCarList::-webkit-scrollbar-thumb {
    background-color: darkgray;
    /* Customize scrollbar color */
    border-radius: 10px;
}

.garage .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.garage .header h1 {
    color: white;
    margin-left: 5vh;
}

.add-car-btn {
    background-color: #28a745;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5vh;
}

.add-car-btn:hover {
    box-shadow: 0 0 10px 5px green;
}

/* CarCard.css */
.garage .car-card {
    display: flex;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
}

.garage .car-card.available {
    border-left: 5px solid #2ebf91;
}

.garage .car-card.unavailable {
    border-left: 5px solid #ff4757;
}

.garage .car-image img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.garage .car-info {
    flex: 1;
    margin-left: 20px;
}

.garage .car-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}


.garage .car-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.garage .car-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.garage .car-rating .status {
    font-weight: bold;
}

.garage .status.idle {
    color: #28a745;
}

.garage .status.renting {
    color: #fded0f;
}

.garage .status.closed {
    color: #ff4757;
}

.car-details span {
    display: inline-block;
    margin-right: 20px;
}

.car-actions {
    display: flex;
    align-items: center;
}

.view-car-btn,
.delete-car-btn {
    margin-right: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-car-btn:hover {
    box-shadow: 0 0 10px 5px red;
}

.view-car-btn {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
}

.view-car-btn:hover {
    box-shadow: 0 0 10px 5px rgb(0, 157, 255);
}

.delete-car-btn {
    margin-top: 10px;
    background-color: #ff4757;
    color: white;
}

.switch {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #007bff;
}

input:checked+.slider:before {
    transform: translateX(14px);
}