/* src/styles/RentalHistory.css */
.Bar {
    margin-top: 5vh;
    width: 80%;
    padding: 0;
    height: 90%;
}

.garage {
    background-color: #444;
    border-radius: 10px;
    height: 90%;
    width: 95%;
}

.rental-requests {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
    margin: 3vh;
    margin-top: 0;
}

.rental-requests::-webkit-scrollbar {
    width: 10px;
    /* Customize scrollbar width */
}

.rental-requests::-webkit-scrollbar-thumb {
    background-color: darkgray;
    /* Customize scrollbar color */
    border-radius: 10px;
}

.add-car-btn {
    background-color: #28a745;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5vh;
}

.add-car-btn:hover{
    box-shadow: 0 0 10px 5px green;
}