.header-home {
  background-color: #5017ad65;
  z-index: 999;
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.5s ease, opacity 0.5s ease;
}
.header-home.hidden {
  top: -60px;
  opacity: 0;
}
.header-home.visible {
  top: 0;
  opacity: 1;
}

.header-home:hover {
  opacity: 1;
  top: 0;
}
.header-home .user {
  display: flex;
  justify-content: right;
}
.header-logo {
  padding: 0 1vw;
  color: #fd5826;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo i {
  font-size: 24px;
  margin-right: 10px;
}
.header-user-show {
  width: auto;
  background-color: #00000000;
  color: aliceblue;
  display: flex;
  gap: 0.2vw;
}
.header-user-dropdown {
  position: relative;
  display: inline-block;
}
.header-dashboard-dropdown {
  position: relative;
  display: inline-block;
}
.header-dropdown-menu {
  text-align: center;
  position: absolute;
  top: 100%;
  height: auto;
  width: 5vw;
  right: 0rem;
  background-color: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
}
.header-dropdowndashboard-menu {
  text-align: center;
  position: absolute;
  height: auto;
  width: 8vw;
  right: 0rem;
  top: 100%;
  background-color: rgba(53, 49, 49, 0.767);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
}
.header-dropdowndashboard-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-dropdowndashboard-menu li {
  padding: 10px;
  cursor: pointer;
}
.header-dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}
.header-dropdowndashboard-menu li:hover {
  background-color: #44ec0170;
}
.header-dropdown-menu li:hover {
  background-color: #44ec0170;
}
.click-navbar {
  background-color: #00000000;
  color: #ffffffd3;
  font-weight: bold;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
}
.chat-icon,
.map-icon {
  position: fixed;
  bottom: 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
.chat-icon {
  right: 20px;
}

.map-icon {
  right: 80px;
}
.header-voucher-button {
  background-color: #00000046;
  color: #ffffff;
  display: flex;
  font-size: 13px;
  height: 4vh;
  width: 5vw;
  align-items: center;
  justify-content: center;
}
