.header-home {
  background-color: #5017ad65;
  z-index: 999;
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}
.header-home .user {
  display: flex;
  justify-content: right;
}
.header-logo {
  padding: 0 1vw;
  color: #fd5826;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo i {
  font-size: 24px;
  margin-right: 10px;
}
.header-user-show {
  width: auto;
  background-color: #00000000;
  color: aliceblue;
  display: flex;
  gap: 0.2vw;
}
.header-user-dropdown {
  position: relative;
  display: inline-block;
}

.header-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 2rem;
  background-color: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
}

.header-dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.header-dropdown-menu li:hover {
  background-color: #c7e61c36;
}
.navbar {
  background-color: #00000000;
  color: #ffffffd3;
  font-weight: bold;
}
